<div class="cartmain">
  <div class="cartform">
    <div class="cartcontact">
      Contact information
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
        class="inputfield"
      />
    </div>
    <div class="cartaddress">
      Shipping address
      <input
        type="text"
        name="fname"
        id="fname"
        placeholder="First Name"
        class="inputfield"
      />
      <input
        type="text"
        name="lname"
        id="lname"
        placeholder="Last Name"
        class="inputfield"
      />
      <input
        type="text"
        name="address"
        id="address"
        placeholder="Address"
        class="inputfield"
      />
      <input
        type="text"
        name="appartment"
        id="appartment"
        placeholder="Appartment, suite, etc. (optional)"
        class="inputfield"
      />
      <input
        type="text"
        name="city"
        id="city"
        placeholder="City"
        class="inputfield"
      />
      <input
        type="text"
        name="country"
        id="country"
        placeholder="Country"
        class="inputfield"
      />
    </div>
  </div>

  <div class="cartcontents">
    <div class="cartcontentsheader">
      <img
        src="../../assets/images/small//product1S.jpg"
        alt="Image in Cart"
        class="cartimg"
      />
      <div class="cartproduct">1x Color Image of a lovely weevil</div>
    </div>
    <div class="cartcontentsorder">
      <div class="cartcontentsprice">$20.00</div>
      <div class="cartcontentbuynow">
        <button class="cartbtn">Go to Shipping</button>
      </div>
    </div>
  </div>
</div>
