<div class="shopmain">
  <a [routerLink]="'/product'"
    ><img src="../../assets/images/small/product1S.jpg" class="shopimg" alt=""
  /></a>
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
  <img src="http://placekitten.com/300/200" class="shopimg" alt="" />
</div>
